@import "@/styles/common";
.secondFooter {
  width: 100%;
  background-color: rgb(14%, 18%, 24%, 1);;
  color: #fff;

  .footerInner {
    padding: 16px 0;
    width: 100%;
    @include flex($x: center, $y: space-between);
  }
}
